Repository stoltenbergnathan/TimeSync, pull requests merged in 2022-02, with the labels that each got.

#6 Initialized React for the frontend.
  .gitignore
  frontend/README.md
  frontend/public/index.html
  frontend/public/robots.txt
  frontend/src/App.css
  frontend/src/App.js
  frontend/src/index.css
  frontend/src/index.js
Labels: documentation, enhancement, frontend

#7 Feature/backend
  .gitignore
  backend/server.js
Labels: documentation, enhancement, backend

#13 Installed Mongodb, dotenv, cors. Set up serverdb.js and conn,js
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/server/conn.js
Labels: enhancement, backend, database

#14 Feature/bored api
  backend/package-lock.json
  backend/package.json
  backend/server.js
Labels: documentation, enhancement, backend

#18 Feature/personal frontend
  .gitignore
  backend/package-lock.json
  backend/package.json
  backend/server.js
  backend/server/conn.js
  frontend/src/App.js
  frontend/src/Components/Header.js
  frontend/src/Components/Personal.js
  frontend/src/Components/PersonalForm.js
  frontend/src/Components/PersonalTask.js
  frontend/src/Components/PersonalTaskList.js
Labels: bug, enhancement, frontend, backend, database
